[Unit]
After=network-online.target
Description=ROS2 robot startup

[Service]
User=student
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash; source ~/motor_ws/install/setup.bash; source ~/ydlidar_ros2_ws/install/setup.bash; source ~/imu_ws/install/setup.sh; source ~/ros2_ws/install/setup.bash; ROS_DOMAIN_ID=** PUT GROUP NUMBER HERE ** ros2 launch ** PUT LAUNCH FILE PACKAGE AND NAME HERE **'
RemainAfterExit=no
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
